*{
	margin:0px;
	padding:0px;
}
.heading{	
	width:90%;
	height:40px;
	color:white;
	font-size:20px;
	margin-left:100px;
	position:fixed;
}
.result{
	float:left;	
	width:90%;
	height:40px;
	color:white;
	font-size:20px;
	margin-left:100px;
	margin-top:40px;
}
table{
	width:80%;
}

.heding table {
  
  color:#ff4d4d;
  border: 2px solid black;
  
}
.result table{
  color:#ff4d4d;
  
}

th {
  text-align: center;
  width:100px;
  font-size:25px;
 
}