*{
margin:0px;
padding:0px;
text-decoration:none;
}
nav{
	background:#0082e6;
	height:90px;
	width:100%;
	position:fixed;
}
label.logo{
	color:white;
	font-size:35px;
	line-height:80px;
	padding:0 100px;
	font-weight:bold;
	float:left;
}
nav ul{
	float:left;
	margin-left:50px;
	
}
nav img{
	height:40px;
	width:40px;
	margin-right:100px;
	margin-top:20px;
	float:right;
}
nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 5px;
	position:relative;
	
}
h1{
	width:400px;
}
nav ul li a{
	color:white;
	border-radius:3px;
	font-size:17px;
	padding:7px 13px;
	text-transform:uppercase;
	text-decoration:none;
}
.logout{
	height:50px;
	width:150px;
	float:right;
	
}
.wrapper{
	width:100%;
}
.box{
	width:800px;
	height:900px;
	font-size:20px;
	margin-top:100px;
	margin-left:300px;
	color:black;
	float:left;
}
.input{
	width:300px;
	height:35px;
	color:black;
	font-size:20px;
	
	
}
.input input[type="text"]{
	border-radius:5px;
}
h1{
	float:left;
	margin-top:15px;
	font-size:30px;
}
.img{
	float:right;
	width:200px;
	margin-top:200px;
	margin-right:100px;
	font-size:30px;
	color:white;
}
.img img{
	width:200px;
	height:400px;
}
.submit{
	float:left;
	margin-left:50px;
	margin-top:50px;
}
.submit button{
	width: 250px;
	height:40px;
	padding: 10px;
	border:none;
	background:#99cc00;	
	border-radius:5px;
	margin-top:15px;
	font-size:20px;
	margin-left:10px;

}
.relative{
	float:right;
}